body{
	background-color: white;
	color: red;
	text-align: center;
}

.Piedra{
	clear: both;
	float: left;
	width: 33%;
	border-style: solid	;
	border:343px;
	padding:
}

.Papel{
	float: left;
	width: 33%;
}
.Tijera{
	float: left;
	width: 33%;
}
.jugar{
	clear: left;
	position: relative;
}
.resultado{

}

.checkbox{

}
